.wrapper {
    font-family: 'Nunito', sans-serif;
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #666;
  }
  
  .questionBlock {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
  
  .questionText {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .radioLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    color: #333;
  }
  
  .radioLabel input[type="radio"] {
    accent-color: #A64ACA; /* фиолетовый акцент */
  }
  
  .submitButton {
    background-color: #A64ACA;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #8d3aa7;
  }
  
  .resultBlock {
    margin-top: 2rem;
    text-align: center;
  }
  
  .resultTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .resultImage {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .professionList {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.professionList li {
  font-size: 1.25rem;
  color: #8e44ad; /* такой же как у кнопки */
  font-weight: 500;
  margin-bottom: 8px;
}


  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #A64ACA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .resultSubtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 0.5rem;
  }



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.emailInput {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #e0d1eb;
  border-top: 5px solid #A64ACA;
  border-radius: 50%;
}

  
  